.chart-container {
    position: relative;
    width: 100%;
    height: 350px;  /* ← 세로크기 강제 지정 */
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.summary-box {
    /* font-size: 22px; */
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-wrapper {
    padding: 20px;
    width: 100%;
    max-width: 1600px;   /* 원하는 경우 최대 폭 설정 */
    margin: 0 auto;      /* 가운데 정렬 */
}
